<!DOCTYPE html>

<html x-ng-app= "tictacApp">
<head>
	<title></title>
	<link rel = "stylesheet" href = "style_practice.css">

	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
	<script src="https://cdn.firebase.com/v0/firebase.js"></script>
 	<script src="https://cdn.firebase.com/libs/angularfire/0.6.0/angularfire.min.js"></script>
	<script src="script.js"></script>
</head>
<body x-ng-controller= "TicTacController">
	<div class = "background">

		<header> 
			<div class="tictacthrones"><span></span></div>
		</header>

		<div class = "beforegame" x-ng-show="game.gameState == 0">
			<div class = "newgamediv">
				<a href="#" class="newgame" x-ng-click="startGame();">Start Game</a>
			</div>
		</div>

<!-- Gamepage Container -->
		<div class = "gamepage">
			<!-- Column 1 -->
			<div class = "col1">
			</div>
			<!-- Column 2 -->
			<div class = "col2" x-ng-show="game.gameState > 0">
					
				<div class ="family1-image">
					<img x-ng-src= "{{game.player1.houseimage}} " />
				</div>

				<div class = "user1">

					<div class = "user1info" x-ng-show="game.gameState < 2">
						<label class="label">Choose your House: </label>
						
						<div class = "dropdown">
							<select class = "selectFamily" ng-options="f.name for f in families1" x-ng-model="family1">	
							</select>
						</div>

						<div class = "username1">
							Enter Username: <br>
							<input type="text" x-ng-model="game.username1"/> <br>

							<input type="button" value="Submit" x-ng-click="setPlayer1(game.username1, family1.name, family1.image)" x-ng-show="game.gameState < 3"/>
							
							<div id = "user1message" x-ng-show="game.gameState == 2">
								</p><span x-ng-show= "game.gameState > 2">Player 1 is {{game.player1.username}}. </span> <span x-ng-show="game.waiting"> Waiting for Player 2!</span></p>
							</div>
						</div>
					</div>
				</div>


				
				<!-- x-ng-click="seeScores();" -->
				<div class = "wtl">
					<div class = "wtldiv">
						<h3>W</h3>
						<p> {{game.player1.wins}} </p>
					</div>
					<div class = "wtldiv">
						<h3>T</h3>
						<p> {{game.player1.ties}} </p>
					</div>
					<div class = "wtldiv">
						<h3>L</h3>
						<p> {{game.player1.losses}} </p>
					</div>
				</div>		
			</div>

			<!-- Column 3 -->
			<div class = "gameboard">

				<div class = "setusers" x-ng-show= "game.gameState < 3">
					<h2> Choose your house and enter in a username. </h2>
				</div>

				<div class = "duringgame" x-ng-show= "game.gameState == 3">
					<div class = "row" x-ng-repeat = "r in game.rows"> 
						<div class = "box" x-ng-repeat = "col in r" x-ng-click="makeMove(col);">
							{{col.xo}}
						</div>
					</div>
				</div>

				<div class = "restartgame" x-ng-show= "game.gameState == 4">
					<div class = "newgamediv">
						<a href="#" class="newgame" x-ng-click="restartGame();">New Game</a>
					</div>
				</div>

				<div class = "winmessage" x-ng-show= "game.gameState == 4">
					<div x-ng-class= "{'nomessage': noMessage, 'winnermessage1': isPlayer1, 'winnermessage2': isPlayer2, 'tiemessage': isTie}">
					<h3> {{winner}} from {{house}} is victorious!!</h3>
					</div>
				</div>
			</div>	

			<!-- Column 4 -->
			<div class = "col4" x-ng-show = "game.gameState > 0">
				
				<div class = "family-image2">
					<img x-ng-src= "{{ game.player2.houseimage }} " />
				</div>	

				<div class = "user2">	
					
					<div class = "user2info" x-ng-show = "game.gameState < 3">
						<label class="label">Choose your House: </label>
						<div class = "dropdown">
							<select class = "selectFamily" ng-options="f.name for f in families2" x-ng-model="family2">
							</select>
						</div>

						<div class = "username2">
							Enter Username: <br>
							<input type="text" x-ng-model="game.username2"/> <br>

							<input type="button" value="Submit" x-ng-click="setPlayer2(game.username2, family2.name, family2.image)"/>
								<p x-ng-show="game.gameState > 3">Player 2 is {{game.player2.username}}</p>
						</div>
					</div>
				</div>

					
					<div class = "wtl">
						<div class = "wtldiv">
							<h3>W</h3>
							<p> {{game.player2.wins}} </p>
						</div>
						<div class = "wtldiv">
							<h3>T</h3>
							<p> {{game.player2.ties}} </p>
						</div>
						<div class = "wtldiv">
							<h3>L</h3>
							<p> {{game.player2.losses}}</p>
						</div>
					</div>
					
			</div>
			
			<!-- Column 5 -->
			<div class = "col5">
			</div>
		</div>
	</div>

</body>
</html>