body {
	text-align: center;
	color: black;
	font-family: helvetica;
}

header {
	height: 80px;
	text-align: left;
	font-size: 40px;
	padding-top: 20px;
	padding-left: 20px;
	font-family:"Game of Thrones";
}


#background {
	background-image: url("images/westeros.jpg");
	width: 100%;
}

.transluscent {
	opacity: .7;
	position: absolute;
	left: 0px;
	top: 0px;
}


.gamepage {
	max-width: 1300px;
	/*Figure this out!!! The opacity of the text and borders*/
	opacity: none;
}

.leftcolumn {
	width: 4%;
	height: 1200px;
	float: left;
}

.user1 {
	border: 1px solid black;
	height: 1200px;
	width: 26%;
	float: left;
}

.username1 {

}

input.username1 {
	width: 60px;
}
button.username1 {
	background-color: grey;
}

.label {
	font-size: 16px;
}

.dropdown select {
   background: transparent;
   width: 100%;
   margin-left: auto;
   margin-right: 30px;
   padding: 10px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 40px;
   -webkit-appearance: none;
}

.dropdown {
   width: 75%;
   margin-left: 15%;
   height: 34px;
   overflow: hidden;
   background: url("images/down_arrow_select.jpg") no-repeat right #ddd;
   border: 1px solid #ccc;
}

.house1 {
	direction: rtl;
	background-position: left top;
	overflow-x: hidden;
	overflow-y: hidden;
	width: 100%;
	height: 500px;
	border: 1px solid black;
	margin-top: 30px;
	display: inline-block;
	position: relative;
}

#family-image1 {
	margin: 0;
	display: block;
	position: relative;
	z-index: 10;
	transition: transform 0.4s;
}

.no-touch .family-image1: hover img{
	transform: translateY(-90px);
}

.wtl {
	/* .grid figcaption */
	display: inline-block;
	position: absolute;
	left: 0;
	background: #2c3f52;
	color: #ed4e6e;
	height: 90px;
	width: 100%;
	top: auto;
	bottom: 0;
}

.wtldiv {
	float: left;
	width: 30px;
	padding: 0px 20px 0px 20px;
}

.gameboard {
	border: 1px solid white;
	height: 500px;
	width: 36%;
	float: left;
	padding-top: 100px;
	padding-left: 2%;
	padding-right: 2%;
}

.box {
	float:left; 
	font-family: verdana;
	outline:3px solid black; 
	width:33%;
	height:120px; 
	background-color:transparent; 
	font-size:40pt;
	text-align: center;
	line-height: 130px;
}
.row {
	clear:both;
}

.user2 {
	border: 1px solid black;
	height: 1200px;
	width: 26%;
	float: left;
}

.username2 {

}

input.username2 {

}

.house2 {
	/* .grid figure img */
	overflow-x: hidden;
	overflow-y: hidden;
	width: 100%;
	height: 500px;
	border: 1px solid black;
	margin-top: 30px;
	display: inline-block;
	position: relative;
}

#family-image2 {
	margin: 0;
	display: block;
	position: relative;
	z-index: 10;
	transition: transform 0.4s;
}


}

	.rightcolumn {
	width: 4%;
	height: 1200px;
	float: left;
}

	/*For smaller screens!!*/
/*	@media screen and (max-width: 31.5em) {
		.houseimage1 {
			padding: 10px 10px 100px 10px;
		}

		.houseimage2 {
			padding: 10px 10px 100px 10px;
		}

		  .grid li {
        width: 100%;
        min-width: 300px;
    	}*/
	